:root {
  --main-color: #4caf50;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  height: 2px;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* start settings box */
.settings-box {
  position: fixed;
  min-height: 100vh;
  left: -220px;
  top: 0;
  background-color: white;
  width: 220px;
  z-index: 1000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 2px solid #eee;
}

.settings-box .Settings-container {
  display: flex;
  flex-direction: column;
}

.settings-box.opened {
  left: 0;
}

.settings-box .settings-icon {
  background-color: white;
  position: absolute;
  right: -30px;
  top: 100px;
  padding: 8px 0;
  width: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}

.settings-box .option-box h3 {
  margin-bottom: 20px;
  color: #616161;
  font-size: 16px;
}

.settings-box .option-box .colors {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.settings-box .option-box .colors li {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;
  border: 3px solid #eee;
}

.settings-box .option-box .colors li:nth-child(1) {
  background-color: #4caf50;
}
.settings-box .option-box .colors li:nth-child(2) {
  background-color: #f44336;
}
.settings-box .option-box .colors li:nth-child(3) {
  background-color: #2196f3;
}
.settings-box .option-box .colors li:nth-child(4) {
  background-color: #009688;
}
.settings-box .option-box .colors li:nth-child(5) {
  background-color: #ff9800;
}

.settings-box .option-box .colors li.active {
  border-color: white;
}

.settings-box .option-box span {
  opacity: 0.5;
  background-color: var(--main-color);
  display: inline-block;
  color: white;
  width: 80px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  padding: 3px 0;
}

.settings-box .option-box span.active {
  opacity: 1;
}

.reset {
  background-color: #f44336;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  width: 196px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* end settings box */

/* start nav bullets */

.nav-bullets {
  position: fixed;
  z-index: 1000;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 3px solid var(--main-color);
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.nav-bullets .bullet:hover .bullet-content {
  display: block;
}
.nav-bullets .bullet-content {
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 120px;
  padding: 8px 10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-bullets .bullet-content::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px;
  top: 50%;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--main-color);
  right: -21px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* end nav bullets */

/* start landing page */

.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/1.jpg");
  background-size: cover;
  position: relative;
  padding: 10px;
}

.landing-page .container {
  position: relative;
  z-index: 1000;
}

.landing-page .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 /0.6);
  z-index: 1;
}

.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: space-between;
}

.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
}

.landing-page .header-area .links {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  font-size: 15px;
}

.landing-page .header-area .toggle-menu {
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-align: right;
  display: none;
  position: relative;
}

.landing-page .header-area .toggle-menu.menu-active::after {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: 1px;
  left: 0px;
}

.landing-page .header-area .links a {
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.landing-page .header-area .links a:hover,
.landing-page .header-area .links a.active {
  color: var(--main-color);
}

.landing-page .introudction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  width: 95%;
}

.landing-page .introudction-text h1 {
  margin: 0;
  font-size: 34px;
  color: var(--main-color);
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .landing-page .introudction-text h1 {
    font-size: 26px;
  }
}

.landing-page .introudction-text p {
  line-height: 1.7;
  font-size: 16px;
}

@media (max-width: 991px) {
  .landing-page .header-area .links {
    display: none;
  }

  .landing-page .header-area .links.open {
    background-color: white;
    display: block;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: left;
  }

  .landing-page .header-area .links.open li a {
    color: var(--main-color);
    font-weight: blod;
  }

  .landing-page .header-area .links.open li {
    display: block;
    margin: 10px;
  }

  .landing-page .header-area .toggle-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* end landing page */

/* start about */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 100px;
}

@media (max-width: 767px) {
  .about {
    display: block;
    text-align: center;
  }
}

.about .info-box {
  padding: 20px;
  flex: 1;
}
.about .info-box h2 {
  color: var(--main-color);
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}
.about .info-box p {
  color: #616161;
  line-height: 1.6;
}

.about .image-box {
  max-height: 250px;
}

.about .image-box img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* end about */

/* start skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eeeeee;
}

.skills h2 {
  color: var(--main-color);
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.skill-box {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px 20px 15px 30px;
  gap: 20px;
}

@media (max-width: 767px) {
  .skill-box {
    display: block;
  }
}

.skill-box .skill-name {
  width: fit-content;
  font-weight: bold;
  width: 200px;
  text-align: center;
}

@media (max-width: 767px) {
  .skill-box .skill-name {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
}

.skill-box .skill-progress {
  background-color: #f5f5f5;
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.skill-box .skill-progress span {
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.our-gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.our-gallery h2 {
  color: var(--main-color);
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.our-gallery .images-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 575px) {
  .our-gallery .images-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.our-gallery .images-box img {
  width: 220px;
  height: 200px;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}
/* end skills */

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 /0.7);
  z-index: 1000;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 1001;
}

.popup-box h3 {
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}

.popup-box img {
  max-width: 100%;
}

.popup-box .close-button {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

/* start timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eeeeee;
}

.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  margin-left: -1px;
  width: 2px;
  background-color: var(--main-color);
}

.timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center;
  color: white;
  padding: 2px 5px;
  font-weight: bold;
}

.timeline-content .left,
.timeline-content .right {
  margin-bottom: 40px;
  width: calc(50% - 25px);
  position: relative;
}

@media (max-width: 575px) {
  .timeline-content .left,
  .timeline-content .right {
    width: 100%;
  }
}

.timeline-content .left {
  float: left;
}

.timeline-content .right {
  float: right;
}

.timeline-content .left::before,
.timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 3px solid var(--main-color);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 20px;
}

@media (max-width: 575px) {
  .timeline-content .left::before,
  .timeline-content .right::before {
    display: none;
  }
}

.timeline-content .left::before {
  right: -35px;
}

.timeline-content .right::before {
  left: -35px;
}

.timeline-content .content {
  padding: 20px;
  background-color: white;
  position: relative;
}

.timeline-content .left .content::before,
.timeline-content .right .content::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  top: 20px;
}

@media (max-width: 575px) {
  .timeline-content .left .content::before,
  .timeline-content .right .content::before {
    display: none;
  }
}

.timeline-content .left .content::before {
  border-color: transparent transparent transparent white;
  right: -19px;
}
.timeline-content .right .content::before {
  border-color: transparent white transparent transparent;
  left: -19px;
}
.timeline-content .content h3 {
  color: var(--main-color);
  margin-bottom: 10px;
  font-weight: bold;
}

.timeline-content .content p {
  color: #616161;
  line-height: 1.6;
}

.clearfix {
  clear: both;
}
/* end timeline */

/* start features */

.our-features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  gap: 50px;
}

.our-features h2 {
  color: var(--main-color);
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.our-features .container .feat-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.our-features .container .feat-box h4 {
  font-size: 24px;
  position: relative;
}

.our-features .container .feat-box h4::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.our-features .container .feat-box p {
  color: #616161;
  line-height: 1.6;
}

.our-features .container .feat-box img {
  width: 96px;
}

/* end features */

/* start testimonials */

.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.testimonials::after,
.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}

.testimonials::before {
  left: 0;
  background-color: var(--main-color);
}

.testimonials::after {
  right: 0;
  background-color: #333;
}

.testimonials h2 {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.testimonials .row {
  display: flex;
  gap: 10px;
}

@media (max-width: 991px) {
  .testimonials .row {
    flex-direction: column;
  }
}

.testimonials .ts-box {
  background-color: white;
  position: relative;
  z-index: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 575px) {
  .testimonials .ts-box {
    width: 100%;
  }
}

.testimonials .ts-box > p {
  color: #616161;
  line-height: 1.6;
  font-style: italic;
}

.testimonials .ts-box .person-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    flex-direction: column;
    text-align: center;
  }
}

.testimonials .ts-box .person-info h4 {
  margin-bottom: 10px;
}
.testimonials .ts-box .person-info img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonials .ts-box .person-info p {
  color: #616161;
}

/* end testimonials */

/* start contact us */
.contact {
  background-image: url("../imgs/contact.png");
  background-size: cover;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255 255 255 / 0.6);
  z-index: 1;
}

.contact .container {
  position: relative;
  z-index: 2;
}

.contact h2 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 30px;
}

.contact form {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 767px) {
  .contact form {
    display: flex;
    flex-direction: column;
  }
}

.contact input:not([type="submit"]),
.contact textarea {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: rgba(218, 218, 218, 0.19);
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.contact input {
  height: 40px;
}

.contact input:not([type="submit"]):focus,
.contact textarea:focus {
  outline: 1px solid var(--main-color);
}

.contact input:not([type="submit"]):focus::placeholder,
.contact textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.contact input:not([type="submit"]):focus::-moz-placeholder,
.contact textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.contact input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.contact textarea {
  height: 160px;
}

.contact input[type="submit"] {
  width: 100%;
  display: block;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}
/* end contact us */

.footer {
  padding: 20px;
  text-align: center;
  background-color: #333;
  color: white;
}

/* 
Extra small  .col-    <576px	Mobile Display
Small  .col-sm- ≥576px	Mobile Display
Medium .col-md- ≥768px	Tablet Display
Large  .col-lg-  ≥992px	Desktop Display
Extra large .col-xl- ≥1200px Desktop Display
*/

/* start grid system */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* end grid system */
